{{! Note that this MUST NOT contain Markdown formatting }}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {{#css_files}}
      <link href="{{.}}" type="text/css" rel="stylesheet" />
    {{/css_files}}
    <title>Final Acceptance Test ({{title}})</title>
  </head>

<body>

    {{{__body}}}

    {{#js_files}}
      <script type="text/javascript" src="{{.}}"><![CDATA[]]></script>
    {{/js_files}}

</body>
</html>
