<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {{#css_files}}
      <link href="{{.}}" type="text/css" rel="stylesheet" />
    {{/css_files}}
    {{#js_files}}
      <script type="application/javascript" src="{{.}}"/>
    {{/js_files}}
    <title>{{title}}</title>
  </head>

<body>

{{{__body}}}

</body>

</html>


