
body {
   font-family: Georgia;
   background-color: #eff;
}

table, th, td {
  border-collapse:collapse;
  font-size: medium;
  border: 1px solid black;
}

td.wide {
  height: 1em;
  width: 20em;
}

td.swide {
  height: 5em;
}

td.passed { color: green; }
td.failed { color: red; }
td.skipped { color: orange; }

@media all {
   table { width:50% }
   fieldset { width:50%; }
   .maruku_toc {
      position: fixed;
      right: 0;
      top: 0;
      border: 1px solid black;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0,0,0,0.4); 
   }
}

@media print {
   .maruku_toc { display: none; }
   table { width: 100% }
   fieldset { width:100%; }
   .page-break { page-break-before: always; }
}

input[type="radio"] {
   cursor: pointer;
}

