{{#unescape}}
{{#included_files}}
  {{{.}}}
{{/included_files}}
{{/unescape}}

  <progress value="22" max="100"></progress>

  <footer id='markdown-docs-footer'>
    Document generated at {{generation_timestamp}}. <br />
  </footer>
