<div id="controls">
<p/>
<form class="plaintext">
   <fieldset>
      <legend>Procedure Controls</legend>
      <label for="resultsLoad">Load</label>
      <input type="file" name="resultsLoad" id="resultsLoad"/><br>
      <label for="testRunDescription">Run Description</label>
      <input type="text" name="testRunDescription" id="testRunDescription"/><br>
      <a href="#download">DOWNLOAD RESULTS</a> 
   </fieldset>
</form>
</div>

[TOC]

<div markdown="1" class="progress">

|Progress                    |
| -------------------------- |
| {:#passed_cases .passed}   |
| {:#failed_cases .failed}   |
| {:#skipped_cases .skipped} |

</div>

{{>overview}}

{{>requirements}}

{{>testcases}}

{{>signature}}

{{>footer}}
